<% content_for :meta_title, "Panier" %>
<% content_for :meta_descrition, "User's order product" %>

<div class="container guidelines-instructions">
    <!-- TODO : ici on peut probablement refactoriser en utilisant la méthode reduce dans le controller-->
  <% @producers.each do |producer| %>
    <div class="row producer-group" data-id="<%= producer.id %>">
        <div class="row producer" data-id="<%= producer.id %>">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 product-separator">
            <hr class="line">


            <%= link_to producer_path(producer), class:'title-producer-basket' do %>
              <h1 class="text-center"> <%= producer.name %> </h1>
            <% end %>
            <hr class="line">
          </div>
        </div>

      <% @basket.each_with_index do |elem, index| %>
        <% if producer.name == elem.product.producer.name %>
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2" >
              <div id="ajax<%= elem.id %>" class="product-info-box product-card product-order">
                  <img class="product-image" src="<%= product_img_path(elem.product) %>" />
                  <h4 class="order"><%= @basket ? elem.product.name.capitalize : 'Product name' %></h4>
                  <div class="order-qte">
                    <span>Qté</span>
                    <%= render 'basket_lines/form_basket_line', basket: elem, product_id: elem.product_id %>
                  </div>
                  <ul class="list-inline">
                    <li data-id="<%= elem.id %>" data-producerid="<%= producer.id %>" class="basket-line-price"> <%= @basket ? "#{elem.product.price * elem.qte}" : 'Product price' %> </li>
                    <li>€</li>
                    <li> <%= link_to "Supprimer", basket_line_path(elem.id), method: :delete, remote:true %> </li>
                  </ul>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 order-container" >
        <div class="product-info-box order-box">
            <ul class="list-inline">
              <li>Total pour <%=producer.name %> :</li>
              <li class="total" data-id="<%= producer.id %>" ></li>
              <li class="euro">€</li>
            </ul>
            <form action="/order" method="get">
              <input type="hidden" name="producer" value="<%= producer.id%>">
              <button type="submit" class="pull-right btn btn-primary order">
                <i class="fa fa-envelope"></i> Préparer ma commande
              </button>
            </form>
          </div>
        </div>
    </div>
  <% end %>
</div>

<% if @basket.blank? %>
  <div class="container" style="text-align: center">
    <div class="row">
      <div style="height: 15px; width: 100%"></div>
      <div class='col-xs-12 text-center' style="margin-bottom: 15px"> Votre panier est vide, retrouvez tous nos produits </div>
      <div> <%= link_to 'cliquez-ici', producers_path, class:'btn btn-primary add-basket' %> </div>
    </div>
  </div>
<% end %>
