<% content_for (:meta_title) do %>
Panier
<% end %>
<div class="container guidelines-instructions">
  <div class="row">
    <!-- TODO : ici on peut probablement refactoriser en utilisant la méthode reduce dans le controller-->
    <% @producers.each do |producer| %>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 product-separator">
            <hr class="line">
            <h1> <%= producer.product.producer.name %> </h1>
            <hr class="line">
          </div>
        </div>
      <% @basket.each do |elem| %>
        <% if producer.product.producer.name == elem.product.producer.name %>
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2" >
              <div class="product-info-box info-box-content info-box-group product-card">
                <div class="product-image"><img class="product-image" src="<%= image_path ["chicon.jpg","biere.jpg"].sample %>" />
                </div>
                <div class="product-infos">
                  <h4><%= @basket ? elem.product.name : 'Product name' %>
                  </h4>
                  <table>
                    <tr>
                      <td>
                        <label for="qte">
                          Qte:
                        </label>
                        <select id="qte">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="2">3</option>
                            <option value="2">4</option>
                        </select>
                      </td>
                      <td>
                        <%= @basket ? "Prix: #{elem.product.price} €" : 'Product price' %>
                      </td>
                      <td>
                        TOTAL
                      </td>
                    </tr>
                  </table>

<!--                   XX-->

<%= simple_form_for (elem.product) do |f| %>
  <%= f.input :name %>

  <%= f.button :submit %>

<% end %>

<%= link_to "Supprimer", basket_lines_path, method: :delete %>


<!--                   XX-->

                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2" >
        <div class="product-info-box info-box-content info-box-group product-card">
          <div class="product-infos">
            <div class=" pull-right btn btn-primary">
              préparer ma commande
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
