<div class="container">
  <div class="row">
    <div class= "col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <div class="cesta-form">
        <div class="cesta-form-body-no-header">


          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <%= render "devise/shared/social_links" %>
              <div class="text-stripped">
                <hr>
                <p>Or sign-up with your email</p>
              </div>

              <%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.label :first_name, class: "sr-only" %>
                  <%= f.input_field :first_name, required: true, autofocus: true, class: "form-control cesta-input", placeholder: "First Name" %>
                  <%= f.label :last_name, class: "sr-only" %>
                  <%= f.input_field :last_name, required: true, autofocus: true, class: "form-control cesta-input", placeholder: "Last Name" %>
                  <%= f.label :email, class: "sr-only" %>
                  <%= f.input_field :email, required: true, autofocus: true, class: "form-control cesta-input", placeholder: "Email" %>
                  <%= f.label :password, class: "sr-only" %>
                  <%= f.input_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "form-control cesta-input", placeholder: "Password" %>
                  <%= f.label :password_confirmation, class: "sr-only" %>
                  <%= f.input_field :password_confirmation, required: true, class: "form-control cesta-input", placeholder: "Confirm your password" %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Sign up" %>
                </div>
              <% end %>
              <br>
              <%= render "devise/shared/links" %>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
