<% content_for (:meta_title) do %>
  Cesta Producteurs
<% end %>

<div class="container page-content">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-3" id="producer-filters">
      <div class="producer-filters-content">
        <h4>Rechercher</h4>
        <form action="/producers" method='get'>
          <div class="location-filter filter">
            <h5>A proximité de </h5>
            <div class="filter-body">
              <input type="text" name="location" placeholder="Ex : Auvergne">
              <input type="submit" class="btn btn-primary" value="OK">
            </div>
          </div>
          <div class="category-filter filter">
            <h5>Categories</h5>
            <div class="filter-body">
              <% @categories.each do |category| %>
                <label><input type="checkbox" name="categories[]" value="<%= category %>"><%= category %></label>
              <% end %>
            </div>
          </div>
          <div class="mark-filter filter">
            <h5>Notes moyennes</h5>
            <div class="filter-body">
               <label><input type="radio" name="mark" value="5">5</label>
              <% [4, 3, 2, 1].each do |mark| %>
                <label><input type="radio" name="mark" value=<%= mark %>><%= mark %> et +</label>
              <% end %>
            </div>
          </div>
        </form>
      </div>
    </div>









    <div class="col-xs-12 col-md-9" id="producer-list">
      <div class="row">
        <% @producers.each do |producer| %>
          <%= display_producer_card(producer) %>
        <% end %>
      </div>
    </div>
  </div>
</div>


TO DO : AJOUTER RENDER USER LOCATION APRES AJOUT DES FILTRES
