
<div class="container guidelines-instructions">
  <div class="row">
    <di class="col-xs-12">
      <div class="instructions">
        <h1>DATA Producer</h1>
        <h3> <%= @producer.name %></h3>
        <p><%= @producer.address %></p>
        <p><%= @producer.zipcode %></p>
        <p><%= @producer.city %></p>
        <p><%= @producer.description %></p>
        <p><%= @producer.phone %></p>
        <p><%= @producer.mobile_phone %></p>
        <p><%= @producer.company_email %></p>
        <% if policy(@producer).edit? %>
          <%= link_to "create product", new_producer_product_path(@producer) %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="container guidelines-instructions">
  <div class="row">
    <di class="col-xs-12">
      <div class="instructions">
        <h1>Our products</h1>
        <% @product.each do |elem| %>
          <p id="<%= elem.id %>">
            <%= link_to product_path(elem) do %>
            <%= elem.name %>
            | <%= elem.price %>
            <% end %>
            <% if policy(@producer).edit? %>
            | <%= link_to "edit", edit_product_path(elem) %>
            | <%= link_to "destroy", product_path(elem), method: :delete, remote: true %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>



