<% content_for (:meta_title) do %>
  Cesta.top - Retrouvez tous les producteurs locaux autour de vous - <%= @producer.name %>
<% end %>

<!-- Poducer large image banner and avatar -->
<div class="producer-image-in-producer-show" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url('<%= producer_lg_img_path(@producer) %>')">
    <% if @producer.avatar? %>
      <img class="producer-avatar-desktop hidden-xs hidden-sm" src="<%= cl_image_path(@producer.avatar.path)%>" />
      <img class="producer-avatar-mobile hidden-md hidden-lg" src="<%= cl_image_path(@producer.avatar.path)%>" />
    <% else %>
      <img class="producer-avatar-desktop hidden-xs hidden-sm" src="<%= image_path "default-farmer-avatar.png" %>" />
      <img class="producer-avatar-mobile hidden-md hidden-lg" src="<%= image_path "default-farmer-avatar.png" %>" />
    <% end %>
</div>

<!-- Producer detailed infos  -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="producer-details info-box-content info-box-group info-box">
        <div class="info-box-producer">
          <h1><%= @producer.name %></h1>
        </div>
        <div class="info-box-producer-details">
          <p><%= @producer.description %></p>
          <p><%= @producer.address %> - <%= @producer.zipcode %> - <%= @producer.city %></p>
          <p><%= @producer.user.email%></p>
          <div class="producer-actions">
            <% if @producer.mobile_phone.present? %>
              <p><%= icon('phone') %> <%= @producer.mobile_phone %></p>
            <% else %>
              <p><%= icon('phone') %> <%= @producer.phone %></p>
            <% end  %>
            <% itinerary_url = "https://www.google.fr/maps/dir/"+session[:location]+"/"+@producer.latitude.to_s+",+"+@producer.longitude.to_s %>
            <%= link_to itinerary_url , target: "_blank" do %>
              <button class="btn btn-primary">Y aller ! <%= icon('car') %></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Separator -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 product-separator">
      <hr class="line">
      <h1>Products</h1>
      <hr class="line">
    </div>
  </div>
</div>

<!-- PRODUCTS CARDS -->
<div class="container guidelines-instructions">
  <div class="row">
        <% @product.each_with_index do |product, index| %>

    <!-- PRODUCT CARD FOR DESKTOP -->
      <div class="hidden-xs hidden-sm col-md-6 col-lg-6" >
        <div class="product-info-box info-box-content info-box-group product-card" data-flash="<%= product.id %>">
          <img class="product-image" src="<%= product_img_path(product) %>" />
          <div class="product-infos">
            <h4><%= @product ? product.name.capitalize : 'Product name' %></h4>
            <p><%= @product ? product.description : 'Product description' %></p>
            <p data-id = <%= product.id %> ><%= @product ? "Prix: #{product.price} € / unité" : 'Product price' %></p>
            <%= render 'basket_lines/form_basket_line', basket: @basket, product_id: product.id %>
            <img class="award-lg <%= @medal[index][1]%>" src="<%= image_path @medal[index][0] %>" />
          </div>
        </div>
      </div>

      <!-- PRODUCT CARD FOR MOBILE -->
      <div class="col-xs-12 col-sm-12 hidden-md hidden-lg" >
        <div class="product-info-box info-box-content info-box-group product-card-mobile" data-flash="<%= product.id %>">
          <img class="product-image-mobile" src="<%= product_img_path(product) %>"/>
          <div class="product-infos-mobile">
            <h4><%= @product ? product.name.capitalize : 'Product name' %></h4>
            <p><%= @product ? product.description : 'Product description' %></p>
            <p data-id = <%= product.id %> ><%= @product ? "Prix: #{product.price} € / unité" : 'Product price' %></p>
            <%= render 'basket_lines/form_basket_line', basket: @basket, product_id: product.id %>
            <img class="award-lg <%= @medal[index][1]%>" src="<%= image_path @medal[index][0] %>" />
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<!-- Separator -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 product-separator">
      <hr class="line">
      <h1>Reviews</h1>
      <hr class="line">
    </div>
  </div>
</div>

<!-- Attention, l'id=ajaxid sert à appeler ajax in rail pour l'affichage des reviews dans la page show. cela passe pas producer#show puis producer_reviews/create.js.erb -->

 <div class="container ">
  <div class="row">
    <di class="col-xs-12">
      <div id='ajaxid' class="product-info-box info-box-content info-box-group">
        <% if @producer_reviews.present? %>
          <% @producer_reviews.each do |elem| %>
            <p> <%=  render "shared/producer_review", elem: elem %> </p>
          <% end %>
        <% else %>
          <p id="noreview">No reviews yet</p>
        <% end %>
     </div>
      <% if policy(@producer).edit? %>
        <div id="form-review" class="product-info-box info-box-content info-box-group">
          <%= render 'shared/form_reviews.html' %>
        </div>
     <% end %>
    </div>
  </div>
</div>
